<html>
    <head>
        <title>Depósito</title>
        <meta charset="UTF-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="{{url_for('static', filename='scripts/global.js')}}"></script>    
    </head>
    <body>
        <div class="container mt-4">
            <a href="/">Voltar</a>
            <h3>Depositar</h3>
            {% if error %}
                <div id="internal-error" class="alert alert-danger">
                    {{error}}
                </div>
            {% endif %}
            {% if bankAccount %}
                <div id="internal-success" class="alert alert-success">
                    Deposito realizado com sucesso! Valor atual: {{bankAccount.balance}}
                </div>
            {% endif %}
            <div id="error-div" class="alert alert-danger" style="display:none">
                Erro ao buscar conta bancária
            </div>
            <div id="success-div" class="alert alert-info" style="display:none">
                Olá <span id="name">0</span>, seu saldo atual é de: <span id="balance">0</span>
            </div>
            <form method="post">
                <div class="my-3">
                    <label for="document" class="form-label">Informe o seu documento</label>
                    <input type="text" class="form-control" name="document" id="document" placeholder="000.000.000-00">
                </div>
                <div class="my-3">
                    <label for="deposit" class="form-label">Quanto você deseja depositar?</label>
                    <input type="number" class="form-control" name="value" id="deposit" min="1" placeholder="0">
                </div>
                <button id="btn-submit" type="submit" class="btn btn-primary" disabled=disabled>Depositar</button>
            </form>
        </div>
    </body>
</html>